@import "colors.scss";

html {
  box-sizing: border-box;
}

body, button, input {
  font-family: Helvetica, sans-serif;
}

body {
  background-color: $background-color;
  color: $black;
}

button, .checkbox, .item-name {
  cursor: pointer;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.page-wrapper {
  margin: 50px auto;
  padding: 20px;
}

.todo-form {
  position: relative;
  .form-input {
    border: 1px solid $gray;
    height: 45px;
    padding: 0 80px 0 10px;
    width: 100%;
  }
  .submit-button {
    background-color: $main-color;
    border: none;
    border-radius: 2px;
    color: $white;
    height: 29px;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 55px;
  }
}

.no-tasks-message {
  color: $gray;
  padding-top: 30px;
  text-align: center;
}

.list-group {
  list-style: none;
  margin-top: 20px;
  width: 100%;
  .list-group-item {
    background-color: $white;
    border: 1px solid $gray;
    border-bottom: none;
    position: relative;
    &:last-child {
      border-bottom: 1px solid $gray;
    }
    .done, .not-done {
      position: relative;
    }
    .checkbox {
      background-color: inherit;
      border: 2px solid;
      border-radius: 50%;
      height: 22px;
      left: 5px;
      position: absolute;
      top: 7px;
      width: 22px;
      &:after {
        content: "";
        position: absolute;
        display: none;
      }
    }
    .item-name {
      font-size: 14px;
      padding: 10px 40px 10px 35px;
    }
    .close {
      background-color: inherit;
      border: none;
      color: $gray;
      font-size: 30px;
      height: 15px;
      position: absolute;
      right: 10px;
      top: 20%;
      top: 2px;
    }
  }
}

.done {
  color: $gray;
  .checkbox {
    background-color: $accent-color;
    border-color: $accent-color;
    &:after {
      border: solid $white;
      border-width: 0 2.5px 3px 0;
      display: block;
      height: 10px;
      left: 6px;
      top: 3px;
      transform: rotate(45deg);
      width: 6px;
    }
  }
  .item-name {
    text-decoration: line-through;
  }
}

.not-done {
  .checkbox {
    border-color: $gray;
  }
}

@import "mediaqueries.scss";
